<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2007年，考出网络工程师，听老师说在本校，历史上第一个在校学生考出网络工程师证书。记得当时考了63分和57分</p>
        <p>2008年，去老师公司实习，做JAVA开发，认识了这本书《锋利的jQuery》作者单东林，当时两个人同租一间（别想歪了，两张床）</p>
        <p>2010年-2011年，来杭州发展，进入国企公司，做杭州公交集团相关系统</p>
        <p>2011年-2013年，主要围绕话费充值系统（空中）。</p>
        <p>2013年，进入母公司，参与互联网相关产品，成为项目组长，项目经理，部门经理。</p>
        <p>2019年，开始写博客。</p>
        <p>希望有一天可以赚很多的钱，去潇洒。</p>
        <p>我是诸葛，一个仍然在路上，向往自由和梦想的人！</p>

     

        <p><strong>About name</strong></p>

        <p>欲求生富贵，须下死功夫!</p>

       


        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>

           <li>Github：<a href="{{ site.github_url }}" target="_blank">{{ site.github_url }}</a></li>
            <li>Gitee：<a href="{{ site.gitee_url }}" target="_blank">{{ site.gitee_url }}</a></li>

           
            <li>我的微信：<strong>vegaxh</strong>（备注：博客）</li>
        </ul>

        
       <h2>
         Note
       </h2>

      <ul>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2019年，建站，托管于 Github Pages。</li>
           
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。如果我的文章帮助或者触动了你，可以自愿赞赏我8.88元吃一个梅干菜饼:)
       </p>

       <p align="center">
         <img src="http://www.javaen.com/assets/images/8.88.png" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>